@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  --blueAlter: 61, 85, 136;
  --pinkAlter: 255, 72, 176;
  --yellowAlter: 255, 232, 0;
  --tealAlter: 0, 131, 138;
  --redAlter: 241, 80, 96;
}
html {
  font-family: 'Space Mono', monospace;
}
body {
  background-image: linear-gradient(
    to right,
    rgba(var(--tealAlter), 0.6) 0,
    rgba(var(--redAlter), 0.3) 75%,
    rgba(var(--yellowAlter), 0.3) 90%,
    rgba(var(--tealAlter), 0.6) 100%
  );
  color: white;
}

input {
  background-color: transparent;
  font-size: 3em;
  border: none;
  /* width: 100vw; */
  padding-left: 0.3em;
  z-index: 3;
  box-sizing: border-box;
}
::placeholder,
input {
  color: rgba(var(--blueAlter), 0.45);
}
input:focus {
  outline: none;
}
input:focus::placeholder {
  color: transparent;
}
button {
  border: none;
  background-color: transparent;
  background-color: rgba(var(--blueAlter), 0.05);
  padding: 0.45em 1em;
  height: 2em;
  width: max-content;
  border-radius: 8%;
  color: rgba(var(--blueAlter), 0.25);
  align-self: flex-end;
  position: absolute;
  left: 18em;
}

.day {
  position: relative;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 2em;
  height: 80px;
  font-size: 0.9em;
  align-items: center;
  color: rgba(var(--blueAlter), 65%);
}
.textCircle {
  margin-top: 5px;
  align-items: center;
  position: absolute;
  left: 90px;
  top: 0;
}
.date {
  font-style: italic;
  color: rgba(var(--blueAlter), 30%);
  text-shadow: 2px 2px rgba(var(--pinkAlter), 0.05);
}

.temperature,
.description {
  font-size: 1.1em;
  color: rgba(var(--blueAlter), 0.35);
}
/*Mobile Styles */
@media only screen and (max-width: 550px) {
  body {
    display: grid;
    grid-template-rows: 200px max-content;
    gap: 2em;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
  }
  .top {
    grid-row: 2;
  }
  .bottom {
    grid-row: 1;
  }
  .sunrise,
  .moonrise {
    grid-row: 1;
    height: 210px;
    width: 210px;
    top: -105px;
    border-radius: 100%;
    opacity: 45%;
    background: rgba(var(--yellowAlter), 0.2);
    /* background: rgba(255, 255, 255, 0.3); */
    position: absolute;
  }
  .sunriseTime {
    position: absolute;
    top: 120px;
    left: 20px;
  }

  .sunsetTime {
    position: absolute;
    top: 120px;
    left: 145px;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 550px) {
  body {
    display: grid;
    grid-template-rows: max-content max-content;
    width: 100vw;
    background-image: none;
  }
  .left {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1em;
    justify-content: space-between;
  }
  .containMoon {
    height: 60px;
    width: 60px;
  }
  .top {
    display: flex;
    justify-content: start;
    grid-column: 1/-1;
    grid-row: 1;
    height: 72vh;
    width: 100vw;
    padding-bottom: 2em;
    background-image: linear-gradient(
      to right,
      rgba(var(--tealAlter), 0.4),
      rgba(var(--tealAlter), 0.4) 30%,
      rgba(var(--redAlter), 0.6) 65%,
      rgba(var(--yellowAlter), 0.3) 80%,
      rgba(var(--redAlter), 0.2) 85%,
      rgba(var(--tealAlter), 0.4) 95%
    );
  }
  .bottom {
    height: 28vh;
    grid-row: 2;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 350px 60px 1fr 2fr 1fr;
    grid-template-rows: 1max-content 1fr;
    background-color: rgba(var(--tealAlter), 0.4);
    background-blend-mode: multiply;
    position: relative;
    box-shadow: 4px 4px 40px 40px rgba(var(--blueAlter), 0.05);
    /* box-shadow: inset 4px 4px 40px 40px rgba(var(--blueAlter), 0.05); */
  }
  .sunrise,
  .moonrise,
  .sunriseTime,
  .sunsetTime {
    grid-row: 1;
  }
  .sunrise,
  .moonrise {
    grid-row: 1;
    height: 210px;
    width: 210px;
    top: -105px;
    border-radius: 100%;
    opacity: 45%;
    background: rgba(var(--yellowAlter), 0.2);
    /* background: rgba(255, 255, 255, 0.3); */
    position: absolute;
  }
  .sunrise {
    grid-column: 3;
  }
  .sunriseTime,
  .sunsetTime {
    position: absolute;
    top: 120px;
    left: 20px;
  }
  .moonrise {
    grid-column: 5;
  }
  form {
    grid-row: 2;
    grid-column: 1/3;
    opacity: 70%;
    align-self: start;
  }
}
